@charset "UTF-8";

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #fff;
    line-height: 1.6;
}

/* Cabeçalho */
header {
    background-color: pink;
    padding: 20px;
    text-align: center;
    top: 0;
    z-index: 1000;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

header p {
    margin: 5px 0;
    font-size: 1.2rem;
    color: #888;
}
header img{
    display: block;
    margin: auto; 
    width: 150px; 
    height: 150px; 
    border-radius: 50%; 
    object-fit: cover; 

}

/* Seções */
section {
    padding: 50px 20px;
    max-width: 1200px;
    margin: auto;
}

h2 {
    color: #e7c500;
    border-bottom: 2px solid #00fff6;
    padding-bottom: 10px;
    font-size: 2rem;
}

/* Layout flexível */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Cartões */
.card {
    background-color: #1f1f1f;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    margin: 10px;
    padding: 10px;
    flex: 1 1 calc(33% - 40px);
    min-width: 250px;
}

.card h3 {
    margin-top: 0;
    color: #00fff6;
}

/* Rodapé */
footer {
    background-color: #1f1f1f;
    padding: 20px;
    text-align: center;
}

footer p {
    margin: 0;
    color: #888;
}

a {
    color: #00fff6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
